.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 410px;
  height: 410px;
  border-radius: 50%;
  box-shadow: 0 0 32px var(--light-gray);
  cursor: pointer;
}

.progress {
}

.time {
  font-size: 6.25rem;
}

.button {
  border: none;
  background-color: transparent;
  color: var(--foreground);
  font-size: 1rem;
  letter-spacing: 0.75rem;
}
