:root {
  --background: #1e213f;
  --foreground: #fff;
  --red: #f87070;
  --blue: #70f3f8;
  --violet: #d881f8;
  --blue-gray: #d7e0ff;
  --dark-blue: #161932;
  --light-gray: #eff1fa;
  --background-ligther: #1e213f8a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-kumbh-sans);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
