:root {
  --background: #161932;
  --foreground: #fff;
  --red: #f87070;
  --blue: #70f3f8;
  --violet: #d881f8;
  --blue-gray: #d7e0ff;
  --dark-blue: #1e213f;
  --light-gray: #eff1fa;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
